h2 {
	color: #0be22f;
	margin: 1rem;
}
h3 {
	color: #c368ff;
	margin: 1.5rem;
}
h4 {
	color: #ff0000;
	margin: 1.5rem;
}
img {
	margin: 1rem;
}
.card {
	padding: 5rem 0 0 15rem;
}
.cardBody {
	border: 1px solid black;
	text-align: center;
	padding: 1rem;
	cursor: pointer;
}
