h1 {
	color: #4c00ff;
}
input {
	margin: 2rem 0 0 0;
	font-size: 1.5rem;
	border-radius: 0.5rem;
}
input:focus-within {
	filter: drop-shadow(0 5px 6px #000000);
}
.btn {
	padding: 1rem 2rem;
	border: none;
	font-size: 1.5rem;
	color: #fff;
	background-color: #2bff00;
	border-radius: 1rem;
	cursor: pointer;
}
.btn:hover {
	background-color: #00ffb3;
	transition: all 0.3s ease-in-out;
}
